.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.informationWrapper{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.informationWrapper input{
  width:250px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

button{
  margin-top: 20px;
  width:250px;
  font-size: 20px;
  padding-left: 10px;
}

button:hover{
  cursor: pointer;
}

.employees{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.employee{
  width: 700px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.employee h3{
  margin: 20px;
}